<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="lib/tabslidebox/tabSlideBox.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <script src="lib/tabslidebox/tabSlideBox.js"></script>
</head>
<body ng-app="starter" animation="slide-left-right-ios7">

<ion-nav-view ng-controller="IndexCtrl"></ion-nav-view>

<script id="index.html" type="text/ng-template">
  <ion-view title="Scrollable Tabbed Slide box">
    <ion-content scroll="false">
      <tab-slide-box tabs-position="bottom">
        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            <h3>Home content</h3>
          </ion-slide>
          <ion-slide>
            <h3>Games content</h3>
          </ion-slide>
          <ion-slide>
            <h3>Mail content</h3>
          </ion-slide>
          <ion-slide>
            <h3>Car content</h3>
          </ion-slide>
          <ion-slide>
            <h3>Profile content</h3>
          </ion-slide>
          <ion-slide>
            <h3>Favourites content</h3>
          </ion-slide>
          <ion-slide>
            <h3>Chats content</h3>
          </ion-slide>
          <ion-slide>
            <h3>Settings content</h3>
          </ion-slide>
          <ion-slide>
            <h3>Photos content</h3>
          </ion-slide>
          <ion-slide>
            <h3>Pets content</h3>
          </ion-slide>
        </ion-slide-box>
        <div>
          <div class="tsb-icons" >
            <div class="tsb-ic-wrp">
              <div  style="width: 20%">Du an</div>
              <ion-scroll direction="x" class="tsb-hscroll"   style="width: 80%">
                <a href="javascript:;" class="{{tab.icon}}" ng-repeat="tab in tabs" on-finish-render="test()">{{tab.text}}</a>
              </ion-scroll>
            </div>
          </div>
        </div>
      </tab-slide-box>
    </ion-content>
  </ion-view>
</script>
</body>
</html>
